wheel
Django==3.1.8
adns @ git+https://github.com/trolldbois/python3-adns/
netaddr
requests
redis
dnspython
django-oauth-toolkit
djangorestframework
django-markup
mysqlclient
PyOpenSSL
evalidate
python-whois
uwsgi
requests-oauthlib
validate-email
configargparse
python-telegram-bot
pytelegrambotapi
okerrupdate
redis
django-debug-toolbar
markdown
bleach
bleach_whitelist
okerrsensor @ git+https://gitlab.com/yaroslaff/sensor/
