<p>
В предыдущем задании тренинга okerrmod выполнил набор из нескольких стандартных проверок и обновил (создал) индикаторы для них.
    Можно добавлять и удалять проверки в этот набор.
</p>

<p>
    <ul>
        <li>Выполните <code>okerrmod --list</code> чтобы просмотреть все доступные проверки. Проверки со знаком <code>+</code> - включены.</li>
        <li>Выполните <code>sudo okerrmod --disable <i>CHECK</i></code> чтобы отключить любую проверку (например, 'df')</li>
        <li>Выполните <code>sudo okerrmod --enable uptime</code> чтобы включить проверку "uptime"</li>
    </ul>
</p>

<p>
    Запустите <code>okerrmod</code>, он выполнит только те проверки, которые вы включили.
</p>

<p>
<h3>Ссылки по теме:</h3>
<a href="https://gitlab.com/yaroslaff/okerrupdate/-/wikis/home">okerrupdate/okerrmod wiki</a>
</p>
