<p>
Логические индикаторы дают огромные возможности. Каждый логический индикатор может принимать состояние OK или ERR на основании логических выражений на основе <a href="{% url 'okerr:pjson' project.get_textid %}">контекста проекта</a>.

</p>

<h3>Полный и простой интерфейс</h3>
<p>
Для выполнения этой задачи, потребуется использовать <b>контекст проекта</b> и <b>метки</b> индикаторов, они видны только в полном режиме интерфейса. Переключаться между полным и простым интерфейсом можно через ссылку в правом верхнем углу страницы.
</p>
<p>
В полном режиме интерфейса, на главной странице появится ссылка на контекст проекта и фильтры на основе меток.
    На странице индикатора будет возможность управлять метками индикатора.
</p>

<h3>Возраст ошибки</h3>
<p>
У каждого индикатора есть виртуальные параметры errage и uerrage. errage - возраст ошибки (в секундах) с момента установления статуса ERR. (Для индикаторов в статусе OK он равен 0). uerrage - аналогичный возраст необработанной (unhandled) ошибки (Равен 0 для индикаторов в статусе OK или находящихся в режиме настройки).
</p>
<p>
У индикаторов есть метки. Некоторые метки (такие как OK, ERR или heartbeat) системные и устанавливаются автоматически. Другие - пользователь может установить (и удалить) сам на странице индикатора.
</p>
<p>
В контексте проекта есть структура возраста (age). По каждой метке в в ней есть максимальные значения errage и uerrage среди всех индикаторов с этой меткой. (Следовательно, age['ERR:errage'] и age ['ERR:uerrage'] - содержат максимальные значения по всем индикаторам в проекте). 
</p>

<h3>Эскалационный индикатор</h3>
<p>
Для выполнения этого задания нужно назначить метку 'test' любому одному или нескольким тестовым ('test:...') индикаторам. Затем создайте индикатор ('test:escalation'), установите ему метод проверки Logical expression. В качестве выражения (expr) укажите выражение:
<br>
<code>age["test:uerrage"] < 3600</code>
<br>
(вместо 3600 (1 час) можете указать любое другое количество секунд ). Индикатор будет пересчитываться в соответствии с периодом политики. После пересчета выражения, индикатор будет в статусе OK если выражение верно, и ERR если оно неверно. Если в выражении есть ошибка - установится флаг "проблема" (нужно будет исправить ошибку и вручную убрать флаг). Так как индикатор использует параметр uerrage, чтобы избежать его срабатывания, необходимо в течении часа либо исправлять все проблемные индикаторы, либо (если проблема сложнее) начать работу по исправлению и перевести индикатор в режим настройки.
</p>
<p>
Эскалационному индикатору назначьте политику без перепроверок.
</p>

<h3>Бонус: подписка на алерты</h3>
<p>
По умолчанию - каждый пользователь получает оповещения (алерты) о всех изменениях статусов индикаторов в проекте. На странице профиля можно отменить подписку на алерты. Затем на странице нужных индикаторов в разделе пользовательских настроек включить опцию "подписаться". После такой процедуры будут приходит только алерты на подписанные индикаторы. Руководители групп могут таким образом отрабатывать эскалацию, но не отвлекаться на обычные проблемы, которые исправляются другими сотрудниками за короткое время.

</p>

