<p>
В этом задании мы будем отслеживать лог-файл на сервере и оповещать об аномально быстром его росте.
</p>

<p>
    <ul>
        <li>Включите проверку <code>linecount</code> в okerrmod как в предыдущем задании.</li>
        <li>Определите, какой файл будете отслеживать для теста. Например, можно смотреть за логом ошибок вебсервера
            <code>/var/log/apache2/error.log</code>. Или сами создайте тестовый файл, например,
            <code>/tmp/my.log</code></li>
        <li>Отредактируйте файл конфигурации проверки <code>/etc/okerr/mods-env/linecount</code> и в
            <code>PATHLIST</code> укажите этот файл</li>
        <li>Запустите <code>okerrmod</code> чтобы он передал данные на сервер
        <li>На страничке индикатора в okerr установите значение diffmax по своему усмотрению (okerr оповестит
            если при следующем обновлении количество новых строк будет выше этого значения). Для прохождения
            теста можно использовать небольшое значение, например, 2. Сохраните новые параметры индикатора.
        <li>Дождитесь, чтобы лог-файл вырос больше чем на это количество строк. Если используете тестовый файл, можете
            выполнить команду <code>date >> /tmp/my.log</code> несколько раз.
        <li>Запустите <code>okerrmod</code> снова, чтобы он передал новое значение на сервер. Убедитесь, что ограничение заданное
            diffmax сработало и индикатор переключился в ERR.
    </ul>
</p>

<p>
<h3>Ссылки по теме:</h3>
<a href="https://gitlab.com/yaroslaff/okerrupdate/-/wikis/home">okerrupdate/okerrmod wiki</a>
</p>
