{% extends "okerrui/base.html" %}
{% load static %}
{% load i18n %}
{% block content %}

<script>
'use strict';

{% if user.profile.get_jarg_full_interface %}
    var full_interface = true;
{% else %}
    var full_interface = false;
{% endif %}


function sendsummary(){

    var sumdesc = document.getElementById("sumdesc").value //.innerHTML += '<br>'+iname;
    document.getElementById("sumdesc").value = ''

    sendpost("{% url 'okerr:sendsummary' project.get_textid %}",
        {"csrfmiddlewaretoken": "{{ csrf_token }}", "desc": sumdesc },
        jsalert('{% trans "Summary sent. Subject: " %}' + sumdesc) )
}


class Project {
    constructor (){
        this.indicators = []
        this.cbn = [] // indicators by checkbox number
        this.policies = {}
        this.itree = new iTree()
        this.itree.setproject(this)
        this.selected = false
        this.sortOrder = "name"

        this.flagurl = {}
        this.flagurl['OK'] = '{% static "iflags/OK.png" %}'
        this.flagurl['ERR'] = '{% static "iflags/ERR.png" %}'
        this.flagurl['disabled'] = '{% static "iflags/disabled.png" %}'
        // this.flagurl['maintenance'] = '{% static "iflags/maintenance.png" %}'
        this.flagurl['maintenance'] = '{% static "wrench.png" %}'

        this.flagurl['pending'] = '{% static "iflags/pending.png" %}'
        this.flagurl['silent'] = '{% static "iflags/silent.png" %}'
        this.flagurl['problem'] = '{% static "iflags/problem.png" %}'
        this.flagurl['star'] = '{% static "star.png" %}'

    }

    // project.addi
    addi(i){
        this.indicators[i.id] = i

        //console.log("indicators: %o",this.indicators)
    }

    // project.get_cbn
    get_cbn(i){
        var l = this.cbn.push(i)    
        return l-1
    }    


    // project.anyselected
    anySelected(){
        for(var ii in this.indicators){
           var i = this.indicators[ii]
            if(i.selected){
                return true;
            }
        }
        return false;
    }


    // project.addpolicy
    addpolicy(p){
        var pid = p.id
        this.policies[pid]=p
    }

    policy(pid){
        return this.policies[pid]
    }

    // project.setSortOrder
    setSortOrder(order){
        this.sortOrder = order
    }

    // project.reload
    reload(pdata){
        this.now = pdata['now']

        setstatus('Processing, please wait...')

        for(var p in pdata['policies']){
            // addpolicy ok here, it updates it
            this.addpolicy(pdata['policies'][p])
        }


        // define indicators which aren't exists anymore
        for(var iid in this.indicators){
            if(typeof pdata['indicators'][iid] === 'undefined'){
                var i = this.indicators[iid]
                i.suicide()
            }else{
                // console.log("exists: %o",pdata['indicators'][iid])
            }
        }



        var counter = 0;
        
        for(var iid in pdata['indicators']){
            // console.log("iid: %s: %o", iid, pdata['indicators'][iid]);

            var idata = pdata['indicators'][iid]
            var i = this.indicators[iid]
            
            setstatus('Loaded '+ counter + ' indicators');

            if(i == undefined){

                var i = new Indicator();
                i.load(idata)
                i.setproject(this)
                // i.dump();
                // console.log("iname: %s",i.name);
                this.addi(i)
                this.itree.add(i);

            }else{

                // console.log("update i:%s : %o",iid, i)
                i.load(idata)
            }
            // i.load(pdata['indicators'][iname])
            counter ++;
        }
        this.itree.update()
    }


    // project.load
    load(pdata){
        this.now = pdata['now']

        for(var p in pdata['policies']){
            this.addpolicy(pdata['policies'][p])
        }


        var counter = 0;
        
        for(var iname in pdata['indicators']){
            var i = new Indicator();
            i.load(pdata['indicators'][iname])
            i.setproject(this)
            // i.dump();
            // console.log("iname: %s",i.name);
            this.addi(i)
            this.itree.add(i);
            setstatus('Loaded '+ counter + ' indicators');
            counter++;
    
        }
        this.itree.update()
    }





    // project.redraw
    redraw(){
        for(var ii in this.indicators){
            var i = this.indicators[ii]
            i.drawRow()
        }
    }

    // project.draw
    draw(idname){

        var div = document.getElementById(idname) //.innerHTML += '<br>'+iname;

        while (div.firstChild) {
            div.removeChild(div.firstChild);
        }

        if(full_interface){
            this.itree.drawTags(idname)
        }
        this.itree.draw(idname)
        this.itree.drawMassCmd(idname)
    }

    dump(){
        console.log("dumping policies")
        for(var pid in this.policies){
            console.log("policy %s",pid)
        }
    }
    
    groupselect(s, cbnfrom){
        var step=1;

        if(cbnfrom > this.lastcheckbox){
            step = -1
        }                
        for(var ki = cbnfrom; ki!=this.lastcheckbox; ki = ki+step){
            var i = this.cbn[ki]
            
            if(! i.tagFilter(this.itree.tagStatus)){
                continue;
            }            
            
            i.selected = s;
            i.checkbox.checked = s;
        }    
            
    }
    
}

class Policy {
    constructor(){
    }

    // policy.load
    load(o){
        this.patience = o.patience
        this.period = o.period
        this.id = o.id
        this.name = o.name
    }

}

class Indicator {

    constructor(){
        this.checkbox = null
        this.selected = false
    }

    okerrm(){


        if(this.disabled){
            return 'disabled'
        }

        if(this.problem){
            return 'problem'
        }

        if(this.maintenance){
            return 'maintenance'
        }

        if(this.silent){
                return 'silent'
        }

        return this.status
    }


    UNUSED_icbchange_fn(i){
        return function(e){
            var target = e.target || e.srcElement
            i.selected = target.checked
            console.log('selected', i)
            if(e.shiftKey){
                console.log('shift')
            }
        }
    }


    icbclick_fn(i){
        return function(e){
            var target = e.target || e.srcElement
            i.selected = target.checked
            if(e.shiftKey){
                i.project.groupselect(target.checked, i.cbn)
            }
            i.project.lastcheckbox = i.cbn

            var massdiv = document.getElementById('massOpDiv')

            massdiv.hidden = ! i.project.anySelected()

        }
    }


    briefDetails(){
        var maxlen = 80
        if(this.details.length > maxlen){
            return this.details.substring(0,maxlen)+".."
        }else{
            return this.details
        }
    }

    // indicator.sortval
    sortval(method){

        if(method=="name"){
            return this.name
        }

        if(method=="status"){
            if(this.status=="ERR"){
                return "0:"+this.name;
            }
            if(this.maintenance){
                return "1:"+this.name;
            }
            return "2:"+this.name;
        }

    }

    // indicator.drawRow
    drawRow(){            
        var r = this.row
        var t = this.table

        if(!r || !t){
            //console.log('skip %s r: %o t: %o', this.name,r,t)
            return;
        }else{
            //console.log('redraw %s %s',this.name,this.project.now)
        }


        if(this.deleted){
            t.deleteRow(r.rowIndex)
        }

        while(r.cells.length){
            r.deleteCell(0)
        }


        
        var c = r.insertCell(0)
        c.className="min"
        var cb = document.createElement('input')
        cb.type = 'checkbox'
        cb.value=this.name

        //cb.onchange = this.icbchange_fn(this)
        cb.onclick = this.icbclick_fn(this)
        
        //cb.addEventListener('click', function(e) {
        //    if(e.shiftKey){
        //        console.log('Shift key pressed!', this);
        //    }
        //})

        this.checkbox = cb
        if (this.cbn == null) {
            this.cbn = this.project.get_cbn(this)
        }

        c.appendChild(cb)

        c = r.insertCell(1)
        c.className="min"
        var cellhtml = `<a href="${this.url()}">`

        // flags in proper order
        var allflags = ["OK","ERR","disabled","pending","maintenance","silent","problem"]

        var aflen = allflags.length

        for(var afi=0; afi < aflen; afi++){
            if(this.flags.indexOf(allflags[afi])!=-1){
                cellhtml +=`<img src="${ curProject.flagurl[allflags[afi]] }">`
            }
        }

        if(this.get_iarg('star')){
            cellhtml +=`<img src="${ curProject.flagurl['star'] }">`
        }

        cellhtml += '</a>'
        c.innerHTML = cellhtml

        c = r.insertCell(2)
        c.innerHTML = `<a href="${this.url()}">${this.name}</a>`

        c = r.insertCell(3)
        c.innerHTML = this.briefDetails()

        c = r.insertCell(4)
        c.innerHTML =`<span title="last updated ${this.age(this.updated)} ago">${this.age(this.updated)}</span>`

        c = r.insertCell(5)
        c.innerHTML =`<span title="last changed status ${this.age(this.updated)} ago">${this.age(this.changed)}</span>`

    }

    // Indicator.reload_fn

    reload_fn(){
        var i = this

        return function(){
            if (this.readyState == 4 && this.status == 200){

                // console.log("updated: %s",this.responseText);
                var idata = JSON.parse(this.responseText);
                i.load(idata)
                // console.log('reloaded i %s', i.name)
                i.drawRow()
            }else{
                // console.log("state: %d, status: %d", this.readyState,this.status)
            }
        }
    }

    suicide(){
        this.table.deleteRow(this.row.id)
        this.itree.deletei(this)
        delete this.project.indicators[this.id]
    }

    /* indicator.docmd */
    docmd(cmd){
        // console.log("%s cmd %s",this.name,cmd)
        //console.log("token: %s",'{{ csrf_token }}')
        this.checkbox.checked = false

        sendpost("{% url 'okerr:doop' project.get_textid %}", {"name": this.name, "masscmd": cmd, "csrfmiddlewaretoken": "{{ csrf_token }}"},
            this.reload_fn()
        )
    }

    // indicator.pending
    pending(){
        return this.flags.includes('pending')
    }
    pending_UNUSED(){
        var policy = this.project.policy(this.policy)
        var now = this.project.now
        var patience = policy.patience
        var period = policy.period

        now = Math.floor(Date.now()/1000)

        if(this.active){
            if (now > this.scheduled){
                return true
            }else{
                return false
            }
        }else{
            if (now > this.expected){
                return true
            }else{
                return false
            }
        }


        /* unused code */
        if(now > this.updated + period + patience){
            return true
        }

        return false
    }

    setproject(p){
        this.project = p
    }

    url(){
        // return `/indicator/${this.id}`
        return `/i/{{project.get_textid}}/${this.name}`
    }


    // indicator.load
    load(o){

        if ('deleted' in o){
            this.deleted = true
            return
        }else{
            this.deleted = false
        }

        this.id = parseInt(o.id)

        this.name = o.name
        this.status = o.status
        this.details = o.details


        this.updated = o.updated
        this.changed = o.changed
        this.expected = o.expected
        this.scheduled = o.scheduled

        this.policy = o.policy

        this.flags = o.flags
        this.tags = o.tags

        this.silent = o.silent
        this.maintenance = o.maintenance
        this.problem = o.problem
        this.disabled = o.disabled

        this.iargs = o.iargs

        this.cm = o.cm
        this.active = o.active

        //console.log("loaded i %s: %o", this.name, this)

        //console.log("indicator %s=%s %s %d/%d/%d/%d", this.name, this.status, this.details,
        //    this.updated, this.changed, this.expected, this.scheduled)

        // console.log("loading name: %s to name %s",o.name, this.name);
    }


    get_iarg(name){
        var email = "{{request.user.email}}"
        try {
            return this.iargs[email][name]
        } catch(e){
            return false
        }
    }

    dump(){
        console.log("dump: %s = %s",this.name, this.status)
    }


    // indicator.age
    age(moment){
        var agesec = this.project.now - moment
        var agestr = ''
        var nfields=2
        var suffixes = {"d": 86400, "h": 3600, "m": 60, "s": 1}
        var lastval = 0

        while(lastval!=1 && nfields>0){
            bigsuffix=0
            bigval=0
            // find largest suffix
            for(var suffix in suffixes){
                if(suffixes[suffix]>bigval){
                    var bigsuffix=suffix
                    var bigval = suffixes[suffix]
                }
            }
            suffixes[bigsuffix]=0 // we will not use it again

            if(agesec>bigval){
                var n = Math.floor(agesec/bigval)
                agestr+=`${n}${bigsuffix} `
                agesec-=n*bigval
                nfields--
            }
            lastval=bigval
        }
        return agestr
    }

    // indicator.tagFilter
    // return true, if indicator should be displayed with this tagStatus
    tagFilter(tagStatus){
        for(var tag in tagStatus){
            var ts = tagStatus[tag]
            if(ts==1){
                // required tag
                if(this.tags.indexOf(tag)==-1){
                    // required tag missing
                    return false
                }
            }
            if(ts==-1){
                //forbidden tag
                if(this.tags.indexOf(tag)!=-1){
                    // forbidden tag found
                    return false
                }
            }
        }
        return true; // visible by default
    }
}



class iTree {

    constructor(prefix){
        this.indicators={}
        this.branches={}
        this.idx=0
        this.rootit=this
        this.numi=0
        this.numbranches=0
        this.project = null
        this.tagOrder = ['OK','ERR','ATTENTION','pending','maintenance','silent']
        this.tagStatus = {}
        this.display = 'auto'

        this.sumstatus = this.mksumstatus()

        // generate tagStatus
        for(var tagid in this.tagOrder){
            var tagname = this.tagOrder[tagid]
            this.tagStatus[tagname]=0;
        }

        if(prefix===undefined){
            this.prefix=""
            this.counter=0
        }else{
            this.prefix=prefix
        }
    }

    mksumstatus(){
        return {'OK': 0, 'ERR': 0, 'maintenance': 0, 'silent': 0, 'pending': 0, 'problem': 0, 'star': 0}
    }

    // itree.guessdisplay
    // return smart guess if we should display (e.g. have ERR) or not
    guessdisplay(){
        if(this.sumstatus['ERR']>0){
            return true
        }
        return false
    }

    // itree.getdisplay
    // return always true or false
    getdisplay(){
        if(this.display == 'auto'){
            // stub
            return this.guessdisplay();
        }
        return this.display
    }

    // itree.setproject
    setproject(p){
        this.project = p
    }

    getcount(){
        return(this.counter++)
    }

    setroot(rootit){
        this.rootit = rootit
        this.idx = rootit.getcount()
        this.project = rootit.project
    }


    // itree.update() update summary
    update(){
        this.sumstatus = this.mksumstatus()

        // update branches
        for(var bname in this.branches){
            var b = this.branches[bname]
            b.update()
            var bss = b.sumstatus

            for(var k in this.sumstatus){
                //console.log("update key %s",k)
                this.sumstatus[k] += bss[k]
            }
        }

        for(var iname in this.indicators){
            var i = this.indicators[iname]

            var okerrm = i.okerrm()
            this.sumstatus[okerrm]++

            if(okerrm == 'OK' || okerrm == 'ERR'){
                if(i.pending()){
                    console.log('pending indicator %o', i);
                    this.sumstatus['pending']++;
                }
            }

            if(i.get_iarg('star')){
                this.sumstatus['star']++
            }
        }

    }

    // itree.addpath
    addpath(i,path){

        // update sumstatus

        /*if(i.maintenance){

            this.sumstatus['MAINTENANCE']++
        }

        if(i.silent){
            this.sumstatus['SILENT']++
        }*/


        // console.log("add %s to %o",i.name,path)
        if(path.length==1){
            // add here
            this.indicators[i.name]=i;
            this.numi++
            i.itree = this
        }else{
            //console.log('add %s to %s', i.name, path[0])
            if(!(path[0] in this.branches)){
                // console.log('new branch %s',path[0])
                if(this.prefix==''){
                    var newprefix=path[0]
                }else{
                    var newprefix=this.prefix+':'+path[0]
                }

                if(this.rootit){
                    var r=this.rootit
                }else{
                    var r=this
                }

                this.branches[path[0]] = new iTree(newprefix);
                this.branches[path[0]].setroot(r)
                this.numbranches++
            }
            var it = this.branches[path[0]]
            it.addpath(i, path.slice(1))
        }
    }

    deletei(i){
        delete this.indicators[i.name]
        this.numi--
        // console.log("%s: numi: %d",this.prefix,this.numi)
    }

    // itree.add
    // main add method. only for root node.
    add(i){
        // console.log('add indicator: %s', i.name)
        var path = i.name.split(':')
        this.addpath(i,path)

        // add tags to tagOrder list and tagStatus

        for(var itag in i.tags){
            var tagname = i.tags[itag]
            if(this.tagOrder.indexOf(tagname) == -1){
                this.tagOrder.push(tagname)
            }

            this.tagStatus[tagname]=0
        }

    }


    // return filtered prefix (usable for HTML id)
    prefix2id(){
        var id=this.prefix.replace(/[^\w]/g, '.')
        return id
    }

    dump(spaces){

        if(spaces===undefined){
            spaces=""
        }

        console.log("%s+ %s",spaces,this.prefix)

        for(var iname in this.indicators){
            var i = this.indicators[iname]
            console.log("%s%s: %s",spaces,i.name, i.status)
        }

        for(var bname in this.branches){
            var b = this.branches[bname]
            //console.log("%s+ %s",spaces,bname)
            b.dump(spaces+'  ')
        }
    }


    toggleTagFunction(tagName, divName){

        //console.log("ttf %s, %s",tagName, divName)

        return function(){
            // console.log('toggle %s %s',tagName,tagDivName)
            var it = curProject.itree
            it.toggleTag(tagName)
            curProject.draw(divName)
        }
    }


    toggleTag(tagName){
        this.tagStatus[tagName]++
        if(this.tagStatus[tagName]>1){
            this.tagStatus[tagName]=-1
        }
    }

    resetTagStatus(){
        for(var tagname in this.tagStatus){
            this.tagStatus[tagname]=0;
        }
    }


    drawTags(divName){

        var div = document.getElementById(divName) //.innerHTML += '<br>'+iname;

        var tagdiv = document.createElement("div")
        tagdiv.id = divName+'-tags'
        tagdiv.className = 'tagList'
        //datadiv.style.backgroundColor="#cccccc";
        //datadiv.className = 'iTreeData'
        div.appendChild(tagdiv)

        // remove child
        while (tagdiv.firstChild) {
            tagdiv.removeChild(tagdiv.firstChild);
        }

        this.tagOrder.sort()

        for (var tagi in this.tagOrder){
            var tag = this.tagOrder[tagi]
            var tagspan = document.createElement("span")
            tagspan.innerText=" "+tag+" "

            tagspan.className = 'tagSpan tagSpan'+this.tagStatus[tag]
            tagspan.onclick = this.toggleTagFunction(tag, divName)
            tagdiv.appendChild(tagspan)
        }

        var tagspan = document.createElement("span")
        tagspan.innerText="[RESET]"
        tagspan.className = 'tagSpan tagSpan0'
        tagspan.onclick = function(){
            curProject.itree.resetTagStatus()
            curProject.draw(divName)
        }
        tagdiv.appendChild(tagspan)
    }


    /* itree.sortval
        return string, which is value for sorting method method
        for method=="name" return branch prefix
        for method=="status" returns:
            0 if more then one ERROR
            1 if .. MAINTENANCE
            2 otherwise
    */
    sortval(method){
        if(method=="name")
            return this.prefix

        if(method=="status"){
            if(this.sumstatus['ERR']>0){
                return "0:"+this.prefix
            }
            if(this.sumstatus['MAINTENANCE']>0){
                return "1:"+this.prefix
            }
            return "2:"+this.prefix
        }
    }




    // itree.display
    setdisplay(mode, set=true, recursive=false){
        var lDiv = document.getElementById('data-'+this.uid);
        var hDiv = document.getElementById('header-'+this.uid);
        var arr = document.getElementById('arr-'+this.uid);

        if (lDiv == null){
            // console.log('lDiv is null, prefix: %s', this.prefix)
            return
        }


        if(mode){
            if(set){
                this.display=true
            }
            lDiv.style.display = 'block';
            hDiv.className = 'iTreeTitleBar'
            arr.innerHTML = '&#x21C8;';

        }else{
            if(set){
                this.display=false
            }
            lDiv.style.display = 'none';
            hDiv.className = 'iTreeTitleBarClosed'
            arr.innerHTML = '&#x21CA;';
        }

        if(recursive){
            for(var bname in this.branches){
                var b = this.branches[bname]
                b.setdisplay(mode,set,recursive)
            }
        }

    }


    // itree.togglediv_fn
    togglediv_fn(){
        var itree = this
        return function(){
            itree.setdisplay(!itree.getdisplay())
        }
    }

    /* itree.draw: write HTML code in HTML element idname */
    draw(idname){

        //console.log("draw %s to div %s",this.prefix,idname)

        var div = document.getElementById(idname) //.innerHTML += '<br>'+iname;

        if(div==null){
            console.log("oops, cannot find id: %s",idname)
        }


        // write my own header (only for non-root)

        var uid = `${this.idx}-${this.prefix2id()}`
        var huid = `header-${uid}`
        var duid = `data-${uid}`
        var buid = `branch-${uid}`
        var iuid = `indicators-${uid}`
        var auid = `arr-${uid}`

        this.uid = uid

        if(this.prefix != ''){

            var titlediv = document.createElement("div")
            titlediv.id = huid
            titlediv.className='iTreeTitleBar'

            var xdiv = document.createElement("div") // empty div, just marker
            xdiv.id = uid
            xdiv.className='indcont'
            titlediv.appendChild(xdiv)

            var icons = document.createElement("span")

            if(this.sumstatus['ERR']>0){
                icons.innerHTML+=`<img src="${ this.project.flagurl['ERR'] }">`
            }else{
                icons.innerHTML+=`<img src="${ this.project.flagurl['OK'] }">`
            }

            if(this.sumstatus['maintenance']>0){
                icons.innerHTML+=`<img src="${ this.project.flagurl['maintenance'] }">`
            }

            if(this.sumstatus['pending']>0){
                icons.innerHTML+=`<img src="${ this.project.flagurl['pending'] }">`
            }

            if(this.sumstatus['star']>0){
                icons.innerHTML+=`<img src="${ this.project.flagurl['star'] }">`
            }


            titlediv.appendChild(icons)

            var title = document.createElement("span")
            title.innerHTML=`${this.prefix}`;
            title.className = 'iTreeTitle'
            titlediv.appendChild(title)

            var sumstatusstr = document.createElement("span")
            sumstatusstr.className = 'iTreeTitle-sumstatus'
            // sumstatus.innerHTML = JSON.stringify(this.sumstatus)

            for(var sname in this.sumstatus){
                if(this.sumstatus[sname]>0){
                    var span = document.createElement("span")
                    span.className = 'iTreeTitle-sumstatus-iconnum'

                    var ssstr = sname+': '
                    //ssstr += "<img src='"+ this.project.flagurl[sname]  +"'>"

                    ssstr += this.sumstatus[sname]
                    span.innerHTML = ssstr
                    sumstatusstr.appendChild(span)
                }
            }

            //sumstatusstr.innerHTML+=JSON.stringify(this.sumstatus)

            titlediv.appendChild(sumstatusstr)

            var arrows = document.createElement("span")
            arrows.id = auid
            arrows.className = "iTreeTitle-arrows"
            arrows.innerHTML="&#x21C8;"
            titlediv.appendChild(arrows)

            div.appendChild(titlediv)


            titlediv.onclick = this.togglediv_fn()

        }else{
            // root note
        }


        // datadiv: to hold branches and indicators
        var datadiv = document.createElement("div")
        datadiv.id = duid
        //datadiv.style.backgroundColor="#cccccc";
        datadiv.className = 'iTreeData'

        if(this.prefix != ''){
        datadiv.style.paddingLeft="20px";
        }


        div.appendChild(datadiv)

        if(this.numbranches){

            var bdiv = document.createElement("div")
            bdiv.id = buid
            bdiv.className = 'iTreeBranches'
            datadiv.appendChild(bdiv)

            var pos=0;


            //var keys = Object.keys(this.branches)
            //console.log("keys: %o",keys)

            var sortable = []
            for(var bname in this.branches){
                sortable.push([bname,this.branches[bname].sortval(this.project.sortOrder)])
            }


            sortable.sort(
                function(a,b){
                    if(a[1] > b[1]){
                        return 1;
                    }
                    if(a[1] < b[1]){
                        return -1;
                    }
                    return 0;
                }
            )


            // draw each branche
            for(var ki=0; ki<sortable.length;ki++){

                var bname = sortable[ki][0]
                var b = this.branches[bname]

                if(b.tagFilter(this.rootit.tagStatus)){
                    b.draw(buid);
                    pos++;
                }
            }
        } // if numbranches

        // indicator div
        var idiv = document.createElement("div")
        idiv.id = iuid
        datadiv.appendChild(idiv)


        var t,r,c

        t = document.createElement("table")
        t.className = "iTable"
        t.id = pageuid()

        var rowno=0


        var sortable = []
        for(var iname in this.indicators){
            sortable.push([iname,this.indicators[iname].sortval(this.project.sortOrder)])
        }

        sortable.sort(
            function(a,b){
                if(a[1] > b[1]){
                    return 1;
                }
                if(a[1] < b[1]){
                    return -1;
                }
                return 0;
            }
        )

        // draw indicators
        for(var ki=0;ki<sortable.length;ki++){
            var iname = sortable[ki][0]
            var i = this.indicators[iname]

            r = t.insertRow(rowno)
            r.id = pageuid()
            i.table = t
            i.row = r
            i.drawRow()
            //this.project.ibycb[ki] = i

            if(i.tagFilter(this.rootit.tagStatus) == false){
                i.row.style.display='none'
            }



            rowno++
        }

        idiv.appendChild(t)


        // smart-hide this branch (if all OK), unless it's root
        if(this.prefix){
            this.setdisplay(this.getdisplay(),false)
        }
    }

    // itree.domasscmd
    doMassCmd(cmd){
        return function(){
            // for(var ii=0; ii<curProject.indicators.length;  ii++){
            for(var ii in curProject.indicators){
               var i = curProject.indicators[ii]
                if(i.selected){
                    i.docmd(cmd)
                    i.selected = false
                }
            }
        }
    }

    // iTree.drawMassCmd

    drawMassCmd(idname){

        var div = document.getElementById(idname) //.innerHTML += '<br>'+iname;
        var massdiv = document.createElement("div")
        massdiv.id = "massOpDiv"
        massdiv.className = "massOpButtons"
        massdiv.hidden = true // hidden by default


        var bMaintenance = document.createElement("input")
        bMaintenance.setAttribute("type","button")
        bMaintenance.className = "massButton"
        bMaintenance.setAttribute("value","{% trans 'retest ASAP' %}")
        bMaintenance.setAttribute("name","retest")
        bMaintenance.onclick = this.doMassCmd('retest')
        massdiv.appendChild(bMaintenance)
        

        var bMaintenance = document.createElement("input")
        bMaintenance.setAttribute("value","{% trans 'Maintenance (on/off)' %}")
        bMaintenance.setAttribute("type","button")
        bMaintenance.className = "massButton"
        bMaintenance.setAttribute("name","maintenance")
        bMaintenance.onclick = this.doMassCmd('maintenance')
        massdiv.appendChild(bMaintenance)

        var bMaintenance = document.createElement("input")
        bMaintenance.setAttribute("type","button")
        bMaintenance.className = "massButton"
        bMaintenance.setAttribute("value","{% trans 'Enable (on/off)' %}")
        bMaintenance.setAttribute("name","enable")
        bMaintenance.onclick = this.doMassCmd('enable')
        massdiv.appendChild(bMaintenance)

        var bMaintenance = document.createElement("input")
        bMaintenance.setAttribute("type","button")
        bMaintenance.className = "massButton"
        bMaintenance.setAttribute("value","{% trans 'Silent (on/off)' %}")
        bMaintenance.setAttribute("name","silent")
        bMaintenance.onclick = this.doMassCmd('silent')
        massdiv.appendChild(bMaintenance)


        var bMaintenance = document.createElement("input")
        bMaintenance.setAttribute("type","button")
        bMaintenance.className = "massButton"
        bMaintenance.setAttribute("value","{% trans 'Delete' %}")
        bMaintenance.setAttribute("name","delete")
        bMaintenance.onclick = this.doMassCmd('delete')
        massdiv.appendChild(bMaintenance)

        div.appendChild(massdiv)

    }

    // iTree.tagFilter
    // return true if should be displayed
    // (if any subtree is true or any indicator is true)
    tagFilter(tagStatus){
        for(var iname in this.indicators){
            var i = this.indicators[iname]
            if(i.tagFilter(tagStatus)){
                return true;
            }
        }

        for(var bname in this.branches){
            var b = this.branches[bname]
            if(b.tagFilter(tagStatus)){
                return true;
            }
        }

        return false;
    }
}

var curProject = null

function reinit_handler(){

    if(this.status == 200){
        // alert(this.responseText);
        var pdata = JSON.parse(this.responseText);

        var project = curProject // set global
        project.reload(pdata)
        project.draw('jsid')
    } else {
        alert('something went wrong, please reload page.');
    }
    setstatus()
}


function setstatus(status=''){
    document.getElementById('statusline').innerText=status //.innerHTML += '<br>'+iname;

}

function refresh(){

    setstatus('Loading, please wait...')
    var xmlhttp = getXmlHttp();
    xmlhttp.onload = reinit_handler;
    xmlhttp.open('GET', '{% url "okerr:rawpjson" project.get_textid %}');
    xmlhttp.send();

}

function handler(){

    if(this.status == 200){
        // alert(this.responseText);
        var pdata = JSON.parse(this.responseText);

        var project = new Project();
        curProject = project // set global
        project.load(pdata)
        project.draw('jsid')
        setstatus()

    } else {
        alert('something went wrong, please reload page.');
    }
}


// called on first page load
function reinitpage(){

    var xmlhttp = getXmlHttp();
    xmlhttp.onload = handler;
    xmlhttp.open('GET', '{% url "okerr:rawpjson" project.get_textid %}');

    xmlhttp.send();
    setstatus('Loading, please wait...')

}


window.addEventListener("load", function(){

    {% if pid %}
        reinitpage()

    {% endif %}
}, false);


//window.onload = function(){
//    {% if pid %}
//       reinitpage()
//    {% endif %}
//}

function showall(){

    var branches = curProject.itree.branches
    for(var bname in branches){
        var b = branches[bname]
        b.setdisplay(true,true,true)
    }
}


function hideall(){

    var branches = curProject.itree.branches
    for(var bname in branches){
        var b = branches[bname]
        b.setdisplay(false,true,true)
    }
}



function changesort(){

    var ss = document.getElementById("sortorder") //.innerHTML += '<br>'+iname;

    var selected = ss.options[ss.selectedIndex].value;

    var project = curProject // set global
    project.setSortOrder(selected);
    project.draw('jsid');

}

</script>


{% if pid %}

    {% with project as project %}
        {% include 'okerrui/projectlinks.html' %}
    {% endwith %}

    <div align="right" style="display: inline; float: right;">
        <span title="show all" style="cursor: pointer; cursor: hand;" onclick="showall()"><img src="{% static 'arrow_out.png' %}"></span>
        <span title="hide all" style="cursor: pointer; cursor: hand;" onclick="hideall()"><img src="{% static 'arrow_in.png' %}"></span>
        <span title="refresh" style="cursor: pointer; cursor: hand;" onclick="refresh()"><img src="{% static 'arrow_refresh.png' %}"></span>
    </div>
    {% if user.profile.get_jarg_full_interface %}
        <span>
        <select id="sortorder" onchange="changesort()">
          <option value="name">name</option>
          <option value="status">status</option>
        </select>
        </span>
    {% endif %}

    {% if project.limited %}
    <span class="redalert">WARNING! THIS PROJECT IS LIMITED</span>
    {% endif %}

    <span id="statusline" title="" class="statusline"></span>

    <div id="jsid" class="jsid">
        <div class="loading">
            Loading indicators...
        </div>
        <div class="loading-joke">
            Ожидаемое может никогда не произойти, непредсказуемое случится обязательно
        </div>

    </div>

        {# add indicator #}
        <form style="padding: 15px; display: inline;" action="{% url 'okerr:add' project.get_textid %}" method="post">
        {% csrf_token %}
        <input type=text name="name" placeholder="{% trans "new:indicator:name" %}">
        <button class='massButton' name='add' value='1'>{% trans 'Create indicator' %}</button>
        </form>

        {% if user.profile.get_jarg_full_interface %}
            <span style="padding: 15px; display: inline;">
            {% csrf_token %}
            <input type=text id="sumdesc" placeholder="{% trans 'Summary description ...' %}">
            <button class='massButton' onclick=sendsummary()>{% trans 'send summary' %}</button>
            </span>
        {% endif %}

    {% else %}
        {# no projects #}
        <center>
        {% url 'okerr:projectlist' as link %}
        <div class='loading'>
        {% blocktrans %}
        You have no projects yet. But you can <a href="{{link}}">create new project</a> right now.
        {% endblocktrans %}
        </div>
    {% endif %}


{% endblock %}
