{% load i18n %}
{% load cycle from future %}
{% load static %}

{% load get_item %}

<script language="JavaScript">
function submit_cbs(formid,cmd){


    f = document.getElementById(formid);
    f.elements['masscmd'].value=cmd;
    f.submit();
}

function checkAll(formid, mastername)
{
    var checkboxes = new Array();
    f = document.getElementById(formid);
    
    checktoggle = f[mastername].checked
    
    checkboxes = f.getElementsByTagName('input');
     
    for (var i=0; i<checkboxes.length; i++)  {
        if (checkboxes[i].type == 'checkbox')   {
            checkboxes[i].checked = checktoggle;
        }
    }
}

function toggleDisplay(id, values)
{

    if(typeof(values) === 'undefined'){
        values = ['block','none'];
    }

    d = document.getElementById(id);
    i = values.indexOf(d.style.display); 
    if(i==-1){
        d.style.display = values[0];
    }else{
        d.style.display = values[ 1-i ];
    }
}

function swTag(tag){
    f = document.forms['swtag_form'];
    f.elements['tag'].value = tag;
    f.submit();
}


</script>

<acronym title="textid(s): {% for tid in project.textid %}{{tid}} {%endfor%}">
<b>&nbsp;{{project.name}}&nbsp;</acronym></b>
<a href="{% url 'okerr:project' project.id %}"><img src="{% static 'wrench.png' %}"></a>
<a href="{% url 'okerr:keys' project.id '' %}"><img src="{% static 'key.png' %}"></a>

<a href={% url 'okerr:pjson' project.id %}><img src="{% static 'page.png' %}"></a>

<span onclick="showall()"> &#x21CA; </span> <span onclick="hideall()"> &#x21C8; </span> 

<span onclick="javascript:toggleDisplay('taglist' )" style="display: none;"> [TAGS] </span> 

<br>

<div id=taglist style="display:block">

<form method=post id="swtag_form" style="display: inline">
    {% csrf_token %}
    <input type=hidden name=switchtag value="1">
    <input type=hidden name=project value="{{project.id}}">
    <input type=hidden name=tag value="{{tag}}">
</form>          


{% if project.tags %}
{% trans 'User tags' %}:                
    {% for tag,value in project.tags.items %}

        {% if value == '+' %}
            <font style='background-color: #999999'>[ <a
        href="javascript:swTag('{{tag}}');"
        style="text-decoration:none"><b>{{tag}}</b></a> ]</font>


        {% elif value == '-' %}
            <font style='background-color: #999999'><strike><b>[ <a
        href="javascript:swTag('{{tag}}');"
        style="text-decoration:none">{{tag}}</a> ]</b></strike></font>
        {% else %}
            [ <a
        href="javascript:swTag('{{tag}}');"
        style="text-decoration:none">{{tag}}</a> ]
        
        {% endif %}
        
        
    {%endfor%}
{% endif %}


{# metatags #}
    {% trans 'System tags' %}:
    {% for tag in project.metatags_list %}
        
        {% if project.metatags|get_item:tag == '+' %}
            <font style='background-color: #999999'>[ <a
        href="javascript:swTag('{{tag}}');"
        style="text-decoration:none"><b>{{tag}}</b></a> ]</font>
        {% elif project.metatags|get_item:tag == '-' %}
            <strike><font style='background-color: #999999'><b>[ <a
        href="javascript:swTag('{{tag}}');"
        style="text-decoration:none">{{tag}}</a> ]</b></font></strike>
        {% else %}
            [ <a
        href="javascript:swTag('{{tag}}');"
        style="text-decoration:none">{{tag}}</a> ]
        {% endif %}
                                           
    {%endfor%}
    
    
    {% trans 'Reset' %}:
    <form method=post name=resettag{{project.id}} style="display: inline">
    {% csrf_token %}
    <input type=hidden name=resettags value="1">
    <input type=hidden name=project value="{{project.id}}">
    </form>          
 
    [ <a href="javascript:document.resettag{{project.id}}.submit();"
    style="text-decoration:none">Reset all tag filters</a> ]

</div>



{% if itree.nitotal %}
      
    <form id=cc{{project.id}} method=post> {# for with checkboxes #}
    <input type=hidden name='masscmd' value=''>
    <input type=hidden name='project_id' value='{{project.id}}'>
    {% csrf_token %}


      {% with itree=itree %}
        {% include 'okerrui/itree.html' %}
      {% endwith %} 

    </form>
    
    <p>

    {# MASS COMMANDS #}
    <button type="submit" 
        onClick="submit_cbs('cc{{project.id}}','mass_maintenance')">
        {% trans 'Set maintenance' %}</button>
    <button type="submit" 
        onClick="submit_cbs('cc{{project.id}}','mass_unmaintenance')">
        {% trans 'Stop maintenance' %}</button>
    <button type="submit" 
        onClick="submit_cbs('cc{{project.id}}','mass_retest')">
        {% trans 'Retest ASAP' %}</button>

    {% if 'danger' in request.session %}
    <button type="submit" 
        onClick="submit_cbs('cc{{project.id}}','mass_delete')">
        {% trans 'Delete (danger)' %}</button>
    {% endif %}



                    <form method=post>
                        {% csrf_token %}
                        {% trans 'remark' %}: <input type=text name=remark value="">
                        <input type=hidden name=project value="{{project.id}}">
                        <input type=submit name=projectsummary 
                        value="{% trans 'send summary to all members' %}"> 
                    </form>
                </td>
                </tr>        
{% else %} {# if project.ni #}
    {% trans 'No indicators with this tag set' %}
{%endif%}                            

