<p>
In last task, okerrmod executed set of standard checks and updated (created) indicators.
    You can manage this set and use different sets of checks on different servers.
</p>

<p>
    <ul>
        <li>Run <code>okerrmod --list</code> to list all available checks. Checks with <code>+</code> sign are enabled.</li>
        <li>Run <code>sudo okerrmod --disable <i>CHECK</i></code> to disable any CHECK (e.g 'df')</li>
        <li>Run <code>sudo okerrmod --enable uptime</code> to enable check "uptime"</li>
    </ul>
</p>

<code>
    Run <code>okerrmod</code>, it will perform only checks from template you created and assigned to server.
</p>

<p>
<h3>Links:</h3>
<a href="https://gitlab.com/yaroslaff/okerrupdate/-/wikis/home">okerrupdate/okerrmod wiki</a>
</p>
